replicaCount: 3

image:
  repository: docker.io/kahanit/socketio-server
  tag: "4.8.3"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 3000

env:
  port: "3000"
  nodeEnv: "production"
  corsOrigin: "*"
  redisUrl: "redis://default:f69OMJH4i7@redis-cluster.redis.svc.cluster.local:6379"

resources:
  requests:
    memory: "128Mi"
    cpu: "100m"
  limits:
    memory: "256Mi"
    cpu: "500m"

livenessProbe:
  path: /health
  initialDelaySeconds: 10
  periodSeconds: 30
  timeoutSeconds: 3

readinessProbe:
  path: /health
  initialDelaySeconds: 5
  periodSeconds: 10
  timeoutSeconds: 3

ingress:
  enabled: true
  className: nginx
  host: socketio.syncroze.com
  annotations:
    nginx.org/proxy-read-timeout: "3600s"
    nginx.org/proxy-send-timeout: "3600s"
    nginx.org/proxy-connect-timeout: "60s"
    nginx.org/websocket-services: "socketio-server"
    nginx.org/upstream-hash-by: "$request_uri"
  tls:
    enabled: true
    secretName: syncroze-tls

certificate:
  enabled: true
  issuerRef:
    kind: ClusterIssuer
    name: letsencrypt-prod
  privateKey:
    rotationPolicy: Always